{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <a href="{{ path('home.index') }}" type="submit" class=" ms-3 btn-outline-warning mt-3" style="width: 150px"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg> </a>
    {% for message in app.flashes('success') %}
        <div class="justify-content-center d-flex">
            <div class="alert alert-success mt-4 justify-content-center d-flex" style="width: 50%; height: 50%">
                <h5>
                    {{ message }}
                </h5>
            </div>
        </div>
    {% endfor %}

    <form action="{{ path('app_login') }}" method="post">

        <h1 class="text-decoration-underline mb-5 font-weight-normal text-center">Veuillez vous connectez</h1>


        <div class="d-flex justify-content-center">
            <label for="username" class="h3 me-5 pe-3">Email</label>
            <div class="ms-5 " style="width: 30%">
                <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control"
                       autocomplete="email" required autofocus>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <label for="inputPassword" class="h3 me-4">Mot de passe</label>
            <div style="width: 30%">
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>
            </div>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-lg btn-outline-primary" type="submit">
            Se connecter
        </button>

        </div>
    </form>

{% endblock %}
