{% extends "baseUserConnected.html.twig" %}
{% block title %}Page User

{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="justify-content-center d-flex">
            <div class="alert alert-success mt-4 justify-content-center d-flex" style="width: 50%; height: 50%" >
                <h5>
                    {{ message }}
                </h5>
            </div>
        </div>
    {% endfor %}

    <section class="" style="">
        <div class="container py-5 h-100 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0 w-75">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background-color: lightgray">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                     alt="Avatar" class="img-fluid my-5" style="width: 100px; height: 110px" />
                                <h5 class="text-dark">{{ app.user.login }}</h5>

                                <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6 class="text-white">Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6 class="text-white">NOM</h6>
                                            <p class="">{{ user.name }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="text-white">PRENOM</h6>
                                            <p class="">{{ user.surname }}</p>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6  class="text-white">EMAIL</h6>
                                            <p class="">{{ user.email }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="text-white">DATE DE NAISSANCE</h6>
                                            <p class="">{{ user.birthday|date('d/m/Y') }}</p>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <a class="btn btn-outline-success btn-sm" href="{{ path('user.modif',{'id': user.id}) }}"> Modifier</a>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <a class="btn btn-outline-warning btn-sm" href="{{ path('user.delete',{'id': user.id}) }}"> Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
