{% extends "baseConnect.html.twig" %}
{% block title %}Page User

{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="justify-content-center d-flex">
            <div class="alert alert-success mt-4 justify-content-center d-flex" style="width: 50%; height: 50%" >
                <h5>
                    {{ message }}
                </h5>
            </div>
        </div>
    {% endfor %}

    <div class="d-flex justify-content-center" >
        <a href="{{ path('Admin.new') }}" class="btn btn-primary mt-4" style="width: 20%"> créer un utilisateur</a></div>
    <div class="container mt-4">
        {% if not user.items is same as ([]) %}

            <h1 class="justify-content-center d-flex text-decoration-underline"> Liste des utilisateurs </h1>
            <div class="count d-flex justify-content-center mt-4">
                <h4> Il y à {{ user.getTotalItemCount }} utilisateur(s) enregistré(s) sur le site</h4>
            </div>
            <div class="justify-content-center d-flex mt-3">

                <table class="table table-hover">
                    <thead>
                    <tr class="table-light">
                        <th scope="row"></th>
                        <td class="table-light pe-5"> ID</td>
                        <td class="table-light ps-5 pe-5"> NOM</td>
                        <td class="table-light ps-5 pe-5"> PRENOM</td>
                        <td class="table-light ps-5 pe-5"> DATE_NAISSANCE</td>
                        <td class="table-light ps-5 pe-5"> LOGIN</td>
                        <td class="table-light ps-5 pe-5"> E-MAIL</td>
                        <td class="table-light ps-5 pe-5"> MODIF</td>
                        <td class="table-light ps-5 pe-5"> DELETE</td>
                    </tr>
                    </thead>
                    {% for user in user %}

                        <tbody>
                        <tr class="table-dark">
                            <th scope="row"></th>
                            <td>{{ user.id }}</td>
                            <td class="ps-5">{{ user.name }}</td>
                            <td class="ps-5">{{ user.surname }}</td>
                            <td class="ps-5">{{ user.birthday|date('d/m/Y') }}</td>
                            <td class="ps-5">{{ user.login }}</td>
                            <td class="ps-5">{{ user.email }}</td>
                            <td class="ps-5"> <a class="btn btn-warning btn-sm" href="{{ path('user.modif',{'id': user.id}) }}"> Modifier</a> </td>
                            <td class="ps-5"> <a class="btn btn-danger btn-sm" href="{{ path('user.delete',{'id': user.id}) }}"> Delete</a> </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="navigation d-flex justify-content-center mt-2">
                {{ knp_pagination_render(user) }}
            </div>
        {% else %}
            <h4> Il n'y pas d'utilisateur enregistrés</h4>
        {% endif %}
    </div>


{% endblock %}
